<?php

/**
 * @file
 */

define('MYSQL_HOST', 'localhost');
define('MYSQL_USER', 'dynip');
define('MYSQL_TABLE', 'dynip');
define('MYSQL_PASS', 'password');
define('REBUILD_CMD', 'sudo /etc/bind/rebuild_dynip.sh 2>&1');

