<?php

/**
 * @file
 */

define('MYSQL_HOST', 'localhost');
define('MYSQL_USER', 'dynip');
define('MYSQL_PASS', 'password');
define('MYSQL_DBNAME', 'dynip');

define('DNS_REBUILD', '/usr/sbin/rndc reload kn-bremen.de');
define('DNS_FILE', '/etc/bind/kn-bremen.dynip');
define('DNS_DB', '/etc/bind/db.kn-bremen');
